

body {
	background: $color-bg-base;
	color: $color-text-base;
	font-family: $font-stack-serif-yrsa;
	font-size: em($font-size-base);
	font-weight: $font-weight-base;
	line-height: $font-line-height-base;
	margin: 0;
	padding: 0;
	
	@include mq(mobile) {
		font-size: em($font-size-sm);
	}
}

h1 {
	font-family: $font-stack-sans-serif-acumin;
	font-size: em(41.9px);
	font-weight: 100;
	letter-spacing: -1px;
}

a {
	text-decoration: none;
	color: $color-link-base;
}

a:hover {
	text-decoration: underline;
}

.site__intro {
	font-size: em(67.773) - em(25.888);
	font-family: $font-stack-serif-abril;
	font-weight: 100;
}

.social {
	
	&__link {
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}
	
	&__icon {
		width: 40px;
		opacity: 0.8;
		
		&:hover {
			opacity: 1;
		}
	}
	
}