/* # Site Layout Styles
================================================== */

main {
	padding: em(41.9px) 0;
/*
	animation-name: content-fade-in;
	animation-duration: 220ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0s;
*/
}

.wrapper {
	margin: 0 auto;
}

.page__banner {
	width: $content-width-base;
	max-width: $content-width-max;
}

.content {
	@include mq(mobile) { padding: 0 em(16px); }
	max-width: $content-width-max;
	margin: 0 auto;
	padding: 0 em(25.9px);
}

.social {
	
	&__block {
		margin: 2em auto;
		padding: 0 2em;
		text-align: center;
	}
}