/* # Site Layout Styles
================================================== */

main {
	padding: em(42px) 0;
	min-height: em(400px);
	transform-style: preserve-3d;
	@include animation(content-fade-in 110ms ease-out 0ms 1 forwards);
}

.wrapper {
	margin: 0 auto;
}

.page__banner {
	width: $content-width-base;
	max-width: $content-width-max;
	margin-bottom: em(16px);
}

.content {
	@include mq(mobile) { padding: 0 em(16px); }
	max-width: $content-width-max;
	margin: 0 auto;
	padding: 0 em(26px);
}
