/* # Site Layout Styles
================================================== */

main {
	padding: em(41.9px) 0;
}

.wrapper {
	margin: 0 auto;
}

.page__banner {
	width: $content-width-base;
	max-width: $content-width-max;
}

.content {
	max-width: $content-width-max;
	margin: 0 auto;
	padding: 0 2em;
	
	@include mq(mobile) {
		margin-top: 3em;
	}
}

.social {
	
	&__block {
		margin: 2em auto;
		padding: 0 2em;
		text-align: center;
	}
}