/* # Typographical Styles
================================================== */

// 16px @ 1.618

/*
1216.0px
751.5px
464.5px
287.1px
177.4px
109.7px
67.8px
41.9px
25.9px
16px
9.9px
6.1px
3.8px
2.3px
1.4px
0.9px
*/

// 12px @ 1.618

/*
1475.592px
911.985px
563.65px
348.362px
215.304px
133.068px
82.242px
50.83px
31.415px
19.416px
12px
7.417px
4.584px
2.833px
1.751px
1.082px
0.669px
*/

h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack-oleo-script;
	font-family: $font-stack-economica;
	font-weight: $font-weight-bold;
}

h1, h2, h3, h4 {
	margin: em(3.8px) 0 em(9.9px);
}

h5, h6 {
	margin: em(1.4px) 0 em(6.1px);
}

h1 {
	font-size: em(41.9px);
// 	letter-spacing: em(-0.9px);
}

h2 { font-size: em(31.4px); }
h3 { font-size: em(25.9px); }
h4 { font-size: em(19.4px); }
h5 { font-size: em(16px); }
h6 { font-size: em(12px); }

p {
	margin: 0 0 em(16px);
}