/* # Typographical Styles
================================================== */

/*
1216.0px
751.5px
464.5px
287.1px
177.4px
109.7px
67.8px
41.9px
25.9px
16px
9.9px
6.1px
3.8px
2.3px
1.4px
0.9px
*/

h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack-sans-serif-acumin;
	font-weight: 100;
}

h1, h2, h3, h4 {
	margin: em(3.8px) 0 em(9.9px);
}

h5, h6 {
	margin: em(1.4px) 0 em(6.1px);
}

h1 {
	font-size: em(41.9px);
	letter-spacing: em(-1px);
}

h2 { font-size: em(25.9px); }
h3 { font-size: em(25.9px); }
h4 { font-size: em(25.9px); }
h5 { font-size: em(13.7px); }
h6 { font-size: em(10px); }