<header>
	<a class="logo" href="/" title="Matt Brock">
  	<span class="logo__letter logo__letter--m">m</span><span class="logo__letter logo__letter--p">p</span><span class="logo__letter logo__letter--b">b</span>
	</a>
  <nav role="navigation">
    <ul class="nav">
	    <li class="nav__item">
	    	<a href="/about" title="About Matt Brock">About</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/music" title="Matt Brock Music">Music</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/photo" title="Matt Brock Photo">Photo</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/build" title="Matt Brock Build">Build</a>
	    </li>
    </ul>
  </nav>
</header>