<header class="header--site">
	<h2 class="logo"><a href="/" title="Clicking this little link thing will take you back to the homepage.">mpb</a></h2>
  <nav role="navigation">
    <ul class="nav">
	    <li class="nav__item nav__item--spacer"></li>
	    <li class="nav__item">
	    	<a href="/music" title="Matt Brock Musics">Music</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/photo" title="Matt Brock Photos">Photo</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/build" title="Matt Brock Builds">Build</a>
	    </li>
<!--
	    <li class="nav__item">
	    	<a href="/write" title="Matt Brock Writes">Write</a>
	    </li>
-->
	    <li class="nav__item nav__item--spacer"></li>
    </ul>
  </nav>
</header>