<header>
	<a class="logo" href="/" title="Matt Brock">
		Matt Brock
<!--   	<span class="logo__letter logo__letter--m">m</span><span class="logo__letter logo__letter--p">p</span><span class="logo__letter logo__letter--b">b</span> -->
	</a>
  <nav role="navigation">
    <ul class="nav">
	    <li class="nav__item">
	    	<a href="/music" title="Matt Brock Musics">Music</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/photo" title="Matt Brock Photos">Photo</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/build" title="Matt Brock Builds">Build</a>
	    </li>
	    <li class="nav__item">
	    	<a href="/write" title="Matt Brock Writes">Write</a>
	    </li>
    </ul>
  </nav>
</header>