<div class="social__block">
	<h6 class="social__heading">All the Socials</h6>
	<a class="social__link" href="http://twitter.com/{{ site.twitter_username }}">
		<img class="social__icon" src="{{ site.baseurl }}/img/icon_twitter.png">
	</a>
	<a class="social__link" href="http://facebook.com/{{ site.facebookmusic_username }}">
		<img class="social__icon" src="{{ site.baseurl }}/img/icon_facebook.png">
	</a>
	<a class="social__link" href="http://instagram.com/{{ site.instagram_username }}">
		<img class="social__icon" src="{{ site.baseurl }}/img/icon_instagram.png">
	</a>
</div>