<div class="social__block">
	<h6 class="social__heading">All the Socials</h6>
	<a class="social__link" href="http://facebook.com/{{ site.facebookmusic_username }}" title="Follow Matt Brock on Facebook">
		<i class="social__icon fa fa-facebook-official"></i>
	</a>
	<a class="social__link" href="http://twitter.com/{{ site.twitter_username }}" title="Follow Matt Brock on Twitter">
		<i class="social__icon fa fa-twitter"></i>
	</a>
	<a class="social__link" href="http://instagram.com/{{ site.instagram_username }}" title="Follow Matt Brock on Instagram">
		<i class="social__icon fa fa-instagram"></i>
	</a>
	<a class="social__link" href="http://instagram.com/{{ site.github_username }}" title="Follow Matt Brock on Github">
		<i class="social__icon fa fa-github"></i>
	</a>
</div>