

body {
	font: 18px/1.5 "Lora", Georgia, serif;
	background: rgba(37,37,37,.03);
	color: #212121;
}

h1 {
	font-family: "Oswald", "Helvetica", Arial, sans-serif;
	font-size: 2em;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #678ACE;
}

a:hover {
	text-decoration: underline;
}

@media only screen and (min-width: 641px) {
	body {
		font-size: 20px;
	}
}