/* # Mixins
================================================== */

@keyframes content-fade-in {
	0%		{
		transform: perspective(371px) translate3d(0,em(3.8px),em(-1.6px));
		opacity: 0;
	}
	100%	{
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}