/* # Variables
================================================== */

$white: #fdfdfd;
$grey-dark: #323232;

$color-bg-base: $white;
$color-text-base: $grey-dark;

$font-size-sm: 18px;
$font-size-base: 20px;
$font-line-height-base: 1.4;
$font-stack-serif: "Lora", Georgia, serif;
$font-stack-sans-serif: "Oswald", "Helvetica", Arial, sans-serif;

// breakpoints
$brkpoint-small: 400px;
$brkpoint-mobile: 568px;
$brkpoint-tablet: 768px;
$brkpoint-desktop: 1200px;