/* # Variables
================================================== */

$white: #fff;
$white-dim: #f5f5f5;

$black: #292F2F;
$grey-xlt: #e5e6e6;
$grey-light: #aeafaf;
$grey-dark: #323232;
$blue-danube: #589FD0;

$shamrock: #28cc99;
$burnt-sienna: #e86d4c;
$raw-sienna-transparent: rgba(208,110,69,.01);
$raw-sienna-rgb-equiv: rgb(254, 253, 253);
$danube: #589FD0;

// Solarized
$sol_yellow:    #b58900;
$sol_orange:    #cb4b16;
$sol_red:       #dc322f;
$sol_magenta:   #d33682;
$sol_violet:    #6c71c4;
$sol_blue:      #268bd2;
$sol_cyan:      #2aa198;
$sol_green:     #859900;

$color-bg-base: $raw-sienna-transparent;
$color-text-base: $black;
$color-header-bg-base: $white;
$color-header-alt-border-base: $blue-danube;
$color-site-logo: $blue-danube;
$color-link-base: $blue-danube;
$color-nav-border: $white-dim;

$browser-context: 16;
$font-size-xs: 16px;
$font-size-sm: 18px;
$font-size-base: 20px;
$font-line-height-base: 1.3;
$font-weight-base: 300;
$font-weight-thin: 100;
$font-weight-bold: 700;
$font-stack-serif-yrsa: "Yrsa", Georgia, serif;
$font-stack-serif-abril: "Abril Fatface", Georgia, serif;
$font-stack-oleo-script: "Oleo Script", Georgia, cursive;
$font-stack-economica: "Economica", "Helvetica Neue", Helvetica, sans-serif;

// misc

$heading-skew: 6.1deg;


// standard widths
$content-width-base: 100%;
$content-width-max: 751px; // 600px

// breakpoints
$brkpoint-small: 400px;
$brkpoint-mobile: 568px;
$brkpoint-tablet: 768px;
$brkpoint-laptop: 1024px;
$brkpoint-desktop: 1200px;

// images
$path--rel-img: '/img';

// units
$nav-link-pad-x--sm: 16px;
$nav-link-pad-x: 25.9px;
$nav-link-pad-y: 9.9px;
$nav-border-width: 1.6px;

//*	Transitions
$transition-base: 51ms ease-out;