/* # Site Header Styles
================================================== */

header {
	text-align: center;
	border-bottom: 1px solid #f7f7f7;
	background: #fff;
	
	.logo {
		display: inline-block;
		margin-bottom: em(3.8px);
		padding: em(1.4px);
    font-family: $font-stack-sans-serif-acumin;
    font-family: $font-stack-serif-lora;
    font-family: $font-stack-sans-serif-roboto;
    font-family: $font-stack-serif-yrsa;
    font-size: em(35.777 /* 25.888 + 9.889 */);
    transform-origin: top;
		&:hover { text-decoration: none; }
	}
}

nav {
	
	.nav {
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		
		&__item {
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			border: 1px solid transparent;
			
			&--active {
				background: $white;
				border: 1px solid #f7f7f7;
				border-bottom: none;
			}
			
			a {
				display: inline-block;
		    color: $color-text-base;
				padding: em(9) em(16);
				font-family: $font-stack-sans-serif-acumin;
				font-weight: $font-weight-thin;
			}
		}
	}
}