/* # Site Logo Styles
================================================== */

.logo {
	
	&__wrapper {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		transform: translateY(-9px);
	}
	
	width: 100px;
	
	path {
		fill: $grey-dark;
	}
}