/* # Spotify Embed Styles
================================================== */

.spotify {
	
	&-player {
		width: 100%;
		margin-top: em(9px);
	}
	
	&-follower-count {
		margin: em(6px) 0 em(28px) auto;
		width: 136px;
		display: block;
	}
}