/* # Site Footer Styles
================================================== */

footer {
	background: $white-dim;
	padding: em(21px) 0 em(34px);
}

.social {
	
	&__block {
		padding: em(12px) 0;
		text-align: center;
	}
	
	&__heading {
		text-decoration: underline;
	}
	
	&__link {
		display: inline-block;
		font-size: em(21px);
		
		&:hover {
			text-decoration: none;
		}
	}
	
	&__icon {
		padding: em(6px);
		color: lighten($color-text-base, 12%);
		@include transition(color $transition-base);
		
		&:hover {
			color: $color-text-base;
		}
	}
	
}