/* # Site Header Styles
================================================== */

header {
	text-align: center;
	
	.logo {
		display: inline-block;
		margin-bottom: em(3.8px);
		padding: em(9px) 0;
    font-family: $font-stack-economica;
    font-size: em(25.9 /* 25.888 + 9.889 */);
    transform-origin: top;
		&:hover { text-decoration: none; }
	}
}

.header {
	
	&--site {
// 		border-top: 1.618 * em($nav-border-width) solid $color-nav-border;
		background: #fff;
		
/*
		.p--music & { border-top-color: $black; }
		.p--photo & { border-top-color: $black; }
		.p--build & { border-top-color: $black; }
		.p--write & { border-top-color: $black; }
*/
	}
	
}